section{
    background-image: url(/5.jpg);
    background-size: cover;
    background-position: center;
    height: 560px;
    padding: 20px;
    text-align: absolute;
    background-attachment: fixed;
       }
